body {
    background-color: #282a36;
    /*border: 2px #0392ff solid;*/

}

.btnCreate, .number , .btnRandomColor{
    padding: 0 20px;
    background-color: cornflowerblue;
    border-radius: 20px;
    font-size: 1rem;
    height: 40px;
    border: #3a3c4e 1px solid;
    margin: 10px 10px;
}

.btnCreate:hover,  .btnRandomColor:hover{
    background-color: #5885cf;
    cursor: pointer;
}

.btnCreate:active ,  .btnRandomColor:active{
    background-color: #4c73b1;

}
.number{
    border-radius: 20px;
    text-align: center;
}
.header, .footer{
    font-size: 3rem;
    margin: 20px;
    /*border: 2px red solid;*/
    display: flex;
    justify-content: center;
}
.main{
    display: flex;
    gap: 60px;
    margin: auto;
    /*border: #4c73b1 solid 2px;*/
    justify-content: center;

}

.sidebar{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    /*border: darkblue solid 2px;*/
}

.grid {
    display: grid;
    box-sizing: border-box;
    width: 1024px;
    height: 1024px;
    background-color: #3a3c4e;
    /*border: darkblue solid 2px;*/
}

.boxStyle {
    box-sizing: border-box;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.boxStyle:hover{
    border-color: #4c73b1;
}





